body{
  background-color: rgb(25,25,25);
  font-family:Arial;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  
}
.container{
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  
}
.heading{
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 30px;
  font-weight: bold;
  ;
}
.playermoves{
  height:115px;
  width: 115px;
  border-radius: 50%;
  background-color: rgb(25,25,25);
  border: 3px solid white;
  margin: 8px;
  cursor: pointer;
}
.moves-img{
 height:70px;
}
.result{
  font-size: 30px;
  font-weight: bold;
}
.moves{
  margin-bottom: 50px;
}
.reset{
  padding:8px 15px;
  border: none;
  cursor: pointer;
  
}
.resultmoves{
  height:5px
}